<div class="center">

<p>
  <strong>Username:</strong>
  <%= @comment.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @comment.a_id %>
</p>
</div>