<div class="main-page-box">
    <h1>[<span class="blue-color">themessages</span>]</h1>
    <a href="/void/new">
        <div class="main-new">
            [<span>new post</span>]
        </div>
    </a>
</div>
<div id="main-page-box">
    <h3 style="margin-bottom: 0px">About</h3>
    <p style="margin-top: 0px">
        forum is a chatboard built to connect people. You can start a new thread to which people can reply to, or you can reply to an already existing thread. 
    </p>
</div>
<div id="main-page-box">
    <h3 style="margin-bottom: 0px">Image</h3>
    <p style="margin-top: 0px">
        To upload an image you have to enter an imgur link in the image section of <a href="/void/new">new post</a> with extensions .jpeg, .png, .jpg, .gif at the end and the server will automatically make it into an img tag.
    </p>
</div>
<div id="main-page-box">
    <h3 style="margin-bottom: 0px">Shop</h3>
    <p style="margin-top: 0px">
        Everytime you post a message in the thread you gain some score! Score can be used to buy badges from the <a href="/shop">shop</a>. 
    </p>
</div>
