<div class="main-page-box">
    <h1>[<span class="blue-color">Shop</span>]</h1>
</div>
<div id="main-page-box">
    <h3 style="margin-bottom: 0px">Shop</h3>
    <p style="margin-top: 0px">
        Everytime you post a message in the thread you gain some score! Score can be used to buy badges from the <a href="/shop">shop</a>. 
    </p>
</div>


<div class="row padded-300" style="text-align: center">
    <h3 style="text-align: center">Badges</h3>
  <div class="column">
    <strong>Colors: </strong>
    <br />
    <a href="/shop/blue" class="blue"></a>
    <div>cost: 150</div>
    <br />
    <a href="/shop/yellow" class="yellow"></a>
    <div>cost: 120</div>
    <br />
  </div>
  <div class="column">
    <strong>Prefixes: </strong>
    <div><a href="/shop/epic" style="font-size: 20px">Epic</a></div>
    <div>cost: 250</div>
    <br />
    <div><a href="/shop/nerd" style="font-size: 20px">Nerd</a></div>
    <div>cost: 250</div>
  </div>
</div>