<div class="main-page-box">
    <h1>[<span class="blue-color">Boards</span>]</h1>
</div>
<div class="center index-board">
  <% @boards.each do |board| %>
    <ul>
      <li><a href="/boards/<%= board.id %>">/<%= board.board_short_name %>/ - <%= board.board_desc %></a></li>
    </ul>
  <% end %>
<% if user_signed_in? && current_user.admin %>
  <%= link_to 'New Board', new_board_path %>
<% end %>
</div>
<br />

